<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <img src="./img/logo.png" width="50" alt="" class="rounded-circle mr-3">
        <a class="navbar-brand" href="#">HACKTIV8</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        List Features
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/addStudent">Add Student</a>
                        <a class="dropdown-item" href="/addTeacher">Add Teacher</a>
                        <a class="dropdown-item" href="/addSubject">Add Subject</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/viewlist">View List</a>
                        <div class="dropdown-item">
                            <label for="switch">Dark/Light</label>
                            <input type="checkbox" id="switch" name="theme" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>